*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdf
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo

## SCons stuff
.sconf_temp/*
.sconsign.dblite
config.log

## byte compiled python (because of site_scons/site_tools)
*.pyc

## gedit latex plugin
*.ini

## do not commit any of the results and figures
results/*
figs/*

## because Andrew uses Mac...
.DS_Store
